body{
}

::-webkit-scrollbar {
    display: none;
  }


/* ----------------HEADER----------------- */

header{
    width: 100%;
}

.mobileNav{
    display: flex;
    flex-direction: column;
}

.navLogo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-top: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.logoAndHamburger{
    display: flex;
}

.dropdownItems{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    background-color: white;
}

/* -------------HAMBURGER-------------- */
.hamburger{
    display: inline-block;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.bar{
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 30px;
    margin-bottom: 5px;
    background-color: black;
}


.navLink{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-bottom: 2px solid black;
}

/* ----------------BODY----------------- */

h1{
    font-size: 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
font-size: 30px;
text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
}

.logo{
    height: 50px;
}

.btn{
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}
/* ------------SECTION HOME------------- */

.home{
    background-color: #F5F5F5;
}


.homeContent p{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.homeBtns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnTryfree{
background-color: #4851C3;
color: white;
}

.btnContact{
    color: black;
}

.homeImg{
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

/* -----------SECTION ABOUT-------------*/

.about{
    background-color: #F4F3F1;
    padding-top: 30px;
}

.aboutItems{
display: flex;
flex-direction: column;
text-align: center;
margin-left: 50px;
margin-right: 50px;

}

.aboutItem{
    margin-top: 30px;
}

.aboutItem:last-child{
    margin-bottom: 30px;
}

.aboutIcon{
    width: 50px;
    text-align: center;
}
 /* ----------SECTION FEATURES----------*/

 .features{
    text-align: center;
    padding-top: 30px;
 }

 .featBtn{
    margin-top: 30px;
 }

 .swapper{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
 }

 .arrow{
    width: 30px;
 }
.arrowLeft{
    transform: scaleX(-1);
}

.featuresImg{
    text-align: center;
    width: 100%;
}

 /* ----------SECTION PRICING----------*/

 .pricing{
    text-align: center;
 }

 .subscriptions{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
 }

 .subscription1{}
 .subscription2{}

 .subscription3{
    color: white;
    background-color: #181059;
 }

 .subscription3 .btnChoosePricing{
    color: white;
    border: 2px solid white;
 }

 
 .subItem{
    padding-bottom: 25px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 20px;
 }

 .subItem h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 .subItem ul {
    display: flex;
    flex-direction: column;
 }
 
 .subItem ul li{
    font-size: 20px;
    margin-top: 10px;
    list-style-image:url('assets/images/check.svg');
    list-style-position: inside;
 }

 .planPrice{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 .btnChoosePricing{
    padding: 10px 40px;
 }

  /* ----------SECTION CONTACT----------*/

  .Contact{
    text-align: center;
  }

  .contactImg{
    width: 300px;
  }

  .contactForm{
    display: flex;
    flex-direction: column;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contactForm h2{
    margin-bottom: 20px;
  }

  .contactForm input{
    padding: 10px 7px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .contactForm textarea{
    padding: 10px 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
  }

    /* ----------SECTION FOOTER----------*/

    footer{
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;
        padding-top: 30px;
    }

    .footerp{
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerNav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerLinks{
        text-decoration: none;
        color: black;
    }

    .copyright{
        margin-left: 50px; 
    }
