/* ----------------GENERAL----------------- */

h1{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
font-size: 30px;
text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
}

.logo{
    height: 50px;
}

.btn{
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
  }

/* ----------------HEADER----------------- */

header{
    width: 100%;
}

.mobileNav{
    display: flex;
    flex-direction: column;
}

.desktopNav{
    display: none;
}

.navLogo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-top: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.logoAndHamburger{
    display: flex;
}

.dropdownItems{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    background-color: white;
}

/* ------------TABLET HEADER----------- */
@media(min-width: 560px){


}

/* -----------DESKTOP HEADER---------- */
@media(min-width: 992px){


    .navLogo{
        padding-left: 0px;
        margin-left: 120px;
    }

    .navItems{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-right: 120px;
    }

    .logoAndHamburger{
        display: none;
    }
    
    .dropdownItems{
        display:none;
    }

    .desktopNav{
        display: flex;
        flex-direction: row;
        top: 50%;
        align-items: center;
    }

    .desktopNav a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
}

/* -------------HAMBURGER-------------- */
.hamburger{
    display: inline-block;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    padding-right: 20px;
}

.bar{
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 30px;
    margin-bottom: 5px;
    background-color: black;
}

.navLink{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-bottom: 2px solid black;
}

/* ------------SECTION HOME------------- */

.home{
    background-color: #F5F5F5;
}

.homeContent p{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.homeBtns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnTryfree{
background-color: #4851C3;
color: white;
}

.btnContact{
    color: black;
}

.homeImg{
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

/* -----------DESKTOP HOME---------- */
@media(min-width: 992px){

    .home{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        
    }

    .homeContent{
        margin-top: 200px;
        margin-left: 70px;
    }

    .homeContent p{
       margin-left: 150px;
       margin-right: 150px;
    }

    .homeImg{
        width: 800px;
        margin-top: 30px;
        margin-left: 0px;
        margin-left: 80px;
        /* padding-right: 80px; */
    }

}

/* -----------SECTION ABOUT-------------*/

.about{
    background-color: #F4F3F1;
    padding-top: 30px;
}

.aboutItems{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.aboutItem{
    margin-top: 30px;
}

.aboutItem h3{
    margin-bottom: 30px;
}

.aboutItem:last-child{
    margin-bottom: 30px;
}

.aboutIcon{
    width: 50px;
    text-align: center;
}

/* ------------DESKTOP ABOUT----------- */
@media(min-width: 992px){

    .about{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .aboutItems{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-left: 250px;
        margin-right: 250px;
    }

    .aboutItem{
        margin-left: 100px;
        margin-right: 100px;
    }
}
 /* ----------SECTION FEATURES----------*/

 .features{
    text-align: center;
    padding-top: 30px;
 }

 .featBtn{
    margin-top: 30px;
 }

 .swapper{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
 }

 .arrow{
    width: 30px;
 }
.arrowLeft{
    transform: scaleX(-1);
}

.featuresImg{
    text-align: center;
    width: 100%;
}

.featuresDesktop{
    display: none;
}

/* ----------DESKTOP FEATURES--------- */
@media(min-width: 992px){
    .featuresMobile{
        display: none;
    }

    .featuresDesktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .feats1{
        margin-left: 220px;
        width: 500px;
        text-align: left;
    }

    .feats1 h3{
        font-size: 40px;
        width: 400px;
        text-align: left;
    }

    .featItems{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .featItem{
        font-size: 25px;
        text-decoration: none;
        color: black;

        border-radius: 7px;
        box-shadow: 3px 5px lightgrey;
        padding: 10px 30px;
        width: 300px;
        margin-bottom: 20px;
    }

    .featuresImg{
        width: 500px;
    }

    .feats2{
        width: 500px;
        text-align: left;
        margin-right: 220px;
        margin-left: 30px;
        margin-top: 100px;
    }

    .feats2 h4{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .feats2 p {
        margin-bottom: 40px;
    }

    .featInfo{
        display: flex;
        flex-direction: column;
    }

    .featInfoItem{
        font-size: 25px;
        margin-bottom: 20px;
    }

}

 /* ----------SECTION PRICING----------*/

 .pricing{
    text-align: center;
 }

 .subscriptions{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
 }

 .subscription1{}
 .subscription2{}

 .subscription3{
    color: white;
    background-color: #181059;
 }

 .subscription3 .btnChoosePricing{
    color: white;
    border: 2px solid white;
 }

 
 .subItem{
    padding-bottom: 25px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 20px;
 }

 .subItem h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 .subItem ul {
    display: flex;
    flex-direction: column;
 }
 
 .subItem ul li{
    font-size: 20px;
    margin-top: 10px;
    list-style-image:url('assets/images/check.svg');
    list-style-position: inside;
 }

 .priceBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .planPrice{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 .btnChoosePricing{
    padding: 10px 40px;
    width: 60px;
 }

 /* ----------DESKTOP PRICING--------- */
@media(min-width: 992px){
    .subscriptions{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .subItem{
        width: 300px;
        height: 500px;
    }


    /* .subContent{
        text-align: center;
    } */

}

  /* ----------SECTION CONTACT----------*/

  .Contact{
    text-align: center;
  }

  .contactImg{
    width: 300px;
  }

  .contactForm{
    display: flex;
    flex-direction: column;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contactForm h2{
    margin-bottom: 20px;
  }

  .contactForm input{
    padding: 10px 7px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .contactForm textarea{
    padding: 10px 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
  }

    /* ----------SECTION FOOTER----------*/

    footer{
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;
        padding-top: 30px;
    }

    .footerp{
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerNav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerLinks{
        text-decoration: none;
        color: black;
    }

    .copyright{
        margin-left: 50px; 
    }
